.custom-image-slider {
  position: relative;
  width: 100%;
  height: auto; /* Adjust the height as needed */
  max-height: 400px; /* Set a maximum height for smaller screens */
  overflow: hidden;
}

.custom-image-slider img {
  display: none;
  width: 100%;
  height: auto;
}

.custom-image-slider img:first-child {
  display: block;
}

.custom-image-slider .prev-button,
.custom-image-slider .next-button {
  position: absolute;
  top: 90%;
  transform: translateY(-50%);
  background-color: #fcb2b2;
  color: #333;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  z-index: 2;
}

.custom-image-slider .prev-button {
  left: 10px;
}

.custom-image-slider .next-button {
  right: 10px;
}

/* Mobile-specific styles */
@media (max-width: 768px) {
  .custom-image-slider .prev-button,
  .custom-image-slider .next-button {
    font-size: 14px;
    padding: 8px;
  }
}